#view6 .foreground path {
  fill: none;
  //stroke-opacity: 0.3;
  stroke-width: 0.5px;
}
#view6 .lightline path {
  fill: none;
  stroke-opacity: 0.9;
  stroke-width: 1.5px;
}
#view6 .highlightline path {
  fill: none;
  stroke-opacity: 0.9;
  stroke-width: 1.5px;
}
#view6 .legend {
  font-size: 18px;
  font-style: oblique;
}

#view6 .legend line {
  stroke-width: 4px;
}


#view6 .brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

#view6 .axis line,#view6 .axis path {
  fill: none;
  stroke: #000;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

#view6 .axis text {
  font-family: sans-serif;
  font-size: 11px; 
  text-shadow: 0 1px 0 #fff;
}
#view6 .axisx path,#view6 .axisx line {
  fill: none;
  stroke: white;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
#view6 .axisx text {
  font-family: sans-serif;
  font-size: 11px; 
  color:red;
}

#div1{
  //background-color: black;
  position: absolute;
  top:0%;
  left:10%;
  width:80%;
  height:90%;
}